#CONNECTION_STRING : postgresql://<user>:<password>@127.0.0.1:5432/Database_name
CONNECTION_STRING = "postgresql://"
OPENAI_API_KEY = "sk-"

######################
# Langsmith
######################
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="SKmall RAG"
LANGCHAIN_API_KEY=""